/* palette is 
#FF5050, #8CBA80, 2A649B*/
body{
    background-color: #2A649B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23c50927' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23e2333b' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23c50927' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23e2333b' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23FF5050' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2355814b' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23709d65' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%238CBA80' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23709d65' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2355814b' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%238CBA80' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2355814b' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%238CBA80' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23709d65' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%238CBA80' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Press Start 2P';
}

.btn{
    margin-left: 44%;
    margin-top: 15%;
}

#game-title{
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    


}
.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}
@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-100px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

a:link, a:hover{
    text-decoration: none;
    color:white;
}
a{
    color: white;
}
#class{
    background-size: cover;
    background-image: url("https://images.template.net/99107/classroom-zoom-background-zgykg.png");
    
}
.container{
    height:220px;
    width:13%;
    margin-top:20%;

}
#one{
    transform: rotate(-40deg);
    z-index:1
}
#two{
    transform: rotate(0deg);
    z-index:1;
    margin-top:-20%;
    margin-left:55%
}
#three{
    transform: rotate(50deg);
    z-index:1;
    margin-top:-10%;
    margin-left:63%
}
.modal-body{
    padding:5%;
}
#hand{
    width: 45%;
    height:50%;
    margin-left: 35%;
    position: absolute;
    bottom:-2%;
    z-index: 1;
}
#sleeve{
    transform: rotate(45deg);
    width:150px;
    height:200px;
    background-color: pink;
    z-index: 2;
    position:relative;
    margin-left:40%;
    position: absolute;
    top:90%;

}
.container:hover{
   width:15%;
   height: 300px;
   border: 2px solid salmon;
}


.flex-item{
    background-color: pink;
    margin:5px;
    height: 30%;
    padding:5px;

}
#gameBox{
    border: 2px solid yellow;
    width:55%;
    flex-direction: column;
   margin-left: 24%;
   margin-top:-24%;
   height: 13rem;


}
 .line{
    display:inline-block;
    width:6%;
    height:2rem;
    text-align: center;
    margin-left:2px;
    margin-right:2px;
    border-bottom: 2px solid black;
} 

.letter{
    background-color: yellow;
    width:5%;
    display: inline-block;
    margin-left: 1%;
    margin-bottom:1%
}

#welcome{
    width:50%;
    margin: 0 auto;
    margin-top: 10%;
}

#side-box{
  width:50%;
  height: 450px;
  align-items: center;
  margin-top: -25%;
  margin-left: -13%;
}
.item{
    width:40%;
    background-color:white;
    height:150px;
    text-align: center;
}
.bombPic{
    margin-top: 6%;
    width:60%;
    height:100px;
}